html{
    font-family: $font-family;
    
}
body{
    margin: 0;
}
.overlay{
    
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    
    background-color: black;
    opacity: .7;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    color: $medium-gray;
}
.header-container__menu{
    display: flex;
    align-items: center;
}
.header-container__media{
    display: none;
}
.menu-logo{
    padding-top: 9px;
}

.menu-navbar__list{
    list-style: none;
    display: flex;
    li{
        padding: 0px 20px;
        transition: all .2s;
        cursor: pointer;
        &:hover{
            color: black;
        }
    }
}
// .arrow-down{
//     content: url(images/icon-arrow-down.svg);
// }
.arrow-up{
    content: url(images/icon-arrow-up.svg);
}
.unactive{
    display: none;
}

.header-container__features{
    
    transform: translateX(100px) translateY(110px);
    position: absolute;
    
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    padding: 15px;
    
}
.header-container__company{
    // display: none;
    transform: translateX(250px) translateY(87px);
    position: absolute;
    
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    padding: 15px;
}
.company-list{
    list-style: none;
    line-height: 1.8;
    padding: 0;
    margin: 0;
    li{
        transition: all .2s;
        cursor: pointer;
        padding: 2px 10px;
        &:hover{
            background-color: $almost-white;
        }
    }
}
.features-list{
    
    list-style: none;
    line-height: 1.8;
    padding: 0;
    margin: 0;
    img{
        padding: 10px 8px 0 0;
    }
    li{
        transition: all .2s;
        cursor: pointer;
        &:hover{
            background-color: $almost-white;
        }
    }
    
   
}
.login-list{
    
    list-style: none;
    display: flex;
    li{
        transition: all .2s;
        cursor: pointer;
        padding: 10px 20px;
        &:last-child{
            border: 1px solid $medium-gray;
            // padding: 10px 20px;
            border-radius: 10px;
            &:hover{
                border: 1px solid black;
                color: black;
            }
        }
        &:hover{
            color: black;
        }
    }
}
@media(max-width:700px){
    .header-container{
        padding: 10px 20px;
    }
    .header-container__media{
        display: block;
    }
    .menu-navbar, .header-container__login{
        display: none;
    }
   
    .main-container__text{
        align-items: center;
    }
}
@media(max-width:860px){
    
    .login-list{
        li{
            padding: 10px 10px;
        }
    }
    .menu-navbar__list{
        li{
            padding: 0px 5px;
        }
    }
}
